<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Tourism Website Header</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Futuristic Travels</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../pages/index.html">Home</a></li>
                <li><a href="../pages/about.html">About</a></li>
                <li><a href="../pages/destinations.html">Destinations</a></li>
                <li><a href="../pages/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>