<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Navbar</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="../pages/index.html">Tourism</a>
        </div>
        <ul class="nav-links">
            <li><a href="../pages/index.html">Home</a></li>
            <li><a href="../pages/about.html">About</a></li>
            <li><a href="../pages/destinations.html">Destinations</a></li>
            <li><a href="../pages/contact.html">Contact</a></li>
        </ul>
    </nav>
    <script src="../assets/js/scripts.js"></script>
</body>
</html>